pandas==1.5.3
numpy==1.23.5
tensorflow==2.13.0
scikit-learn==1.2.2
matplotlib==3.7.1
Pillow==9.4.0
seaborn==0.12.2
keras==2.13.0
flask==2.2.5
streamlit==1.24.0
opencv-python==4.8.0.74

# Optional, but often needed for Flask deployments
gunicorn==20.1.0
